header{
  background-color: gray;
}

.logo-img{
  width: 100px;
  margin-top: 20px;
}

.redes-sociales{
  margin-bottom: 10px;
}

.img-social{
  width: 30px;
  height: 30px;
}
.images-contenido{
  height: 150px;
  margin-top: 1px;
}

.contenedor-principal{
  min-height: 200px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.inner-addon{
  position: relative;
}

.inner-addon .glyphicon{
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.left-addon input{
  padding-left: 30px;
}

.options{
  min-height: 580px;
  margin-top: 0px;
  padding-left: 10px;
  padding-top: 10px;
}
