header{
  background-color: cyan;
}

.logo-img{
  width: 100px;
  margin-top: 10px;
}

.jumbotron-text{
  font-size: 16px;
  margin-top: 10px;
  color: #FFFFFF;
}

.redes-sociales{
  margin-top: 20px;
}

.img-social{
  width: 40px;
  height: 40px;
}
