header{
  background-color: gray;
}

.logo-img{
  width: 100px;
  margin-top: 20px;
}

.redes-sociales{
  margin-bottom: 10px;
}

.img-social{
  width: 30px;
  height: 30px;
}
.images-contenido{
  height: 250px;
  margin-top: 5px;
}

.contenedor-principal{
  min-height: 200px;
  padding-left: 10px;
  padding-right: 10px;
}
